@media screen and (min-width: $mobile-start) and (max-width: $mobile-end) {
  .wrapper {
    max-width: 620px !important;
    .slider {
      width: 80% !important;
      height: auto;
      .dot {
        width: 10px;
        height: 7px;
        margin: 0 2px;
      }
    }
    .contents-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      .contents {
        width: 70%;
        small {
          font-size: 16px !important;
        }
        .rating-star {
          width: 16px !important;
          height: 16px !important;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
