@media screen and (min-width: $desktop-start) and (max-width: $desktop-end) {
  .wrapper {
    max-width: 1320px !important;
    .slider {
      width: 70% !important;
      height: calc(100vh * 0.5);
    }
    .contents {
      small {
        font-size: 16px !important;
      }
      .rating-star {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
}
