@media screen and (min-width: $mobile-start) and (max-width: $mobile-end) {
  a {
    margin-left: 10px !important;
  }
  form {
    max-width: 50% !important;
    height: 60%;
    justify-content: space-between !important;
    input {
      width: 70%;
    }
  }
  .logout {
    padding: 2px 7px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
  }
  .searched-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .searched {
      width: 90%;
      height: auto;
      gap: 30px;
      justify-content: flex-start;
      margin: 40px 0px;
      .contents {
        width: 200px;
        height: 400px;
        gap: 5px;
        justify-content: flex-start;
        #image-overlay2 {
          margin-top: 130px;
        }
      }
    }
  }
}
